.weather_container {
	margin-bottom: 20px;
	border: 1px solid #FF8D40;
	border-bottom-color: #34D0B6;
	padding: 20px;
	border-radius: 10px;
}

.weather_container .container_row {
	display: flex;
	justify-content: center;
}

.container_col {
	padding-right: 20px;
}

.container_inp {
	background: #FFFFFF;
	border: 1px solid #5ED0BD;
	padding: 5px 10px;
	height: 20px;
	font-size: 15px;
}

.container_btn {
	background: #FF8D40;
	border: 1px solid #FF8D40;
	padding: 5px 10px;
	height: 32px;
	font-size: 15px;
	font-weight: bold;
	border-radius: 10px;
}